.common-button-style {
    font-size: 17px;
    font-weight: bold;
    border: none;
    color: #fff;
    background: transparent;
    /*width: 100%;*/
    /*margin: 0 5px;*/
}

.button-container {
    display: flex;
    justify-content: center;
    border-radius: 5px;
    cursor: pointer;
}

.common-button-style:focus {
    outline: none;
}

.gray-button {
    background: #878787;

}

.green-button {
    background: #63c2b9;
}

.red-button {
    background: #E44156;
    color: #fff;
    height: 31px;
    border-radius: 13px;
}

.blue-button {
    background: #4750ae;
}

.white-button {
    background: #fff;
}

.red-button .common-button-style {
    background: #E44156;
    font-size: 13px;
    border-radius: inherit;
}

.white-button .common-button-style {
    color: #707070;
}
