.common-button-style {
    font-size: 17px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background: #fff;
    color: #fff;
    /*margin: 0 5px;*/
}

.button-container {
    display: flex;
}

.common-button-style:focus {
    outline: none;
}

.gray-button {
    background: #878787;

}

.green-button {
    background: #63c2b9;
}
