/*.root-page-container {*/
/*    position: relative;*/
/*}*/

.phone-icon-general {
    position: absolute;
    height: 75px;
    width: 75px;
    z-index: 2;
    right: 0;
    top: 0;
}

.top-panel {
    padding: 5px;
    display: flex;
    align-content: center;
    width: 100%;
    -webkit-box-shadow: 0 4px 5px -1px rgba(0, 0, 0, 0.21);
    -moz-box-shadow: 0 4px 5px -1px rgba(0, 0, 0, 0.21);
    box-shadow: 0 4px 5px -1px rgba(0, 0, 0, 0.21);
    box-sizing: border-box;
    height: 60px;
    position: relative;
}

.phone-icon-menu-container {
    position: absolute;
    width: 90% !important;
    left: 50%;
    top: 76px;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    padding: 10px 30px;
}

.grid-of-users-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 5px;
    width: 100%;
    box-sizing: border-box;
    overflow-y: scroll;
    max-height: 100vh;
}

.user-item-container {
    padding: 10px;
    border-radius: 10px;
    width: 44%;
}

.user-item-container .image-with-text-img {
    border-radius: 15px;
}

.user-item-button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
}

.phone-icon-menu-container .phone-icon-menu-item {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 15px 6px 0 6px;
}

.phone-icon-menu-container .phone-icon-menu-item {
    height: 33px;
}

.phone-icon-menu-container .phone-icon-menu-item .icon-element-text {
    text-align: center;
    margin-top: 5px;
}

.phone-icon-menu-container .logo-hint-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.phone-icon-menu-container .logo-hint-container div {
    align-self: flex-end;
}

.button-hide-in-grid .common-button-style,
.button-like-in-grid .common-button-style {
    padding: 5px 21px;
}

.logo-hint-container__hint-icon-item-img {
    margin-right: 5px;
}

.logo-hint-container__hint-icon {
    display: flex;
    margin-right: 15px;
}

.phone-icon-menu-container__menu {
    display: flex;
    justify-content: space-between;
}
