.top-panel {
    padding: 5px;
    display: flex;
    align-content: center;
    width: 100%;
    -webkit-box-shadow: 0 4px 5px -1px rgba(0, 0, 0, 0.21);
    -moz-box-shadow: 0 4px 5px -1px rgba(0, 0, 0, 0.21);
    box-shadow: 0 4px 5px -1px rgba(0, 0, 0, 0.21);
    box-sizing: border-box;
    height: 60px;
    position: relative;
}

.phone-icon-menu-container {
    position: absolute;
    width: 90% !important;
    left: 50%;
    top: 76px;
    transform: translateX(-50%);
    display: flex;
    padding: 10px 30px;
}

.grid-of-users-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 5px;
    width: 100%;
    box-sizing: border-box;
    overflow-y: scroll;
    height: calc(100vh - 60px);
}

.user-item-container {
    padding: 10px;
    border-radius: 10px;
}

.user-item-button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
}

.phone-icon-menu-container .phone-icon-menu-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 15px 6px;
}

.button-hide-in-grid .common-button-style,
.button-like-in-grid .common-button-style {
    padding: 5px 21px;
}
