/*.intemmeet-button-container {*/
/*    position: absolute;*/
/*    width: 100%;*/
/*    height: 100vh;*/
/*    background: transparent;*/
/*}*/

.common-control-button-style {
    height: 28px;
    width: 28px;
    margin: 0 4px;
}

.intemmeet-button-container__dropdown-overlay {
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
}

.calling-container {
    position: absolute;
    top: 33%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
    background: #fff;
    width: 80%;
    padding: 20px 26px;
    border-radius: 28px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.17);
    box-sizing: border-box;
}

.calling-container > div {
    margin-bottom: 13px;
    text-align: center;
}

.calling-container > div:last-child {
    margin-bottom: 5px;
}

.calling-container__connection-top-icons {
    display: flex;
    justify-content: space-between;
    font-size: 10px;
    color: #707070;
}

.calling-container__connection-top-icons.top-icons-into-video-call {
    padding: 10px 10px;
    width: 100%;
    position: absolute;
    box-sizing: border-box;
}

.calling-container__connection-top-icons > div:nth-child(2) {
    display: flex;
}

.calling-container__connection-top-icons .icon-container {
    margin: 0 5px;
}

.calling-container > div.calling-container__client-info-tip {
    background: #484848;
    padding: 11px 47px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    font-size: 10px;
    color: #fff;
}

.calling-container > div.calling-container__client-info-tip > b {
    margin-bottom: 7px;
}

.calling-container > div.calling-container__client-info-tip > span {
    font-size: 9px;
}

.calling-container > div.calling-container__control-button {
    display: flex;
    justify-content: space-around;
    padding: 0 50px;
}

.calling-container__control-button .icon-container {
    height: 28px;
    width: 28px;
    padding: 0 5px;
}

.calling-container > div.calling-container__full-name-of-client {
    color: #707070;
    font-size: 13px;
}


.calling-container div.calling-container__time-of-call {
    font-size: 10px;
    color: #707070;
    display: flex;
}

.calling-container div.calling-container__time-of-call > div:nth-child(2) {
    margin: 0 auto;
}

.calling-container__tip {
    background: #484848;
    padding: 4px 24px;
    color: #fff;
    border-radius: 12px;
    font-size: 10px;
}

.calling-container__tip.tip-into-video-call {
    position: absolute;
    bottom: 0;
    box-sizing: border-box;
    width: 100%;
}


.calling-container .calling-container__ended-call-info {
    background: #484848;
    padding: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    color: #fff;
    font-size: 11px;
}

.calling-container .calling-container__ended-call-info > div {
    margin-bottom: 6px;
}


.calling-container .calling-container__ended-call-info .audio-emotion-analysis {
    background: #fff;
    border-radius: 25px;
    color: #484848;
    display: flex;
    justify-content: space-evenly;
    padding: 5px 0;
    width: 75%;
}

.calling-container .calling-container__ended-call-info .audio-emotion-analysis .icon-container {
    height: 15px;
    width: 17px;
}


.calling-container .calling-container__indicates,
.calling-container .calling-container__indicates > div,
.calling-container .calling-container__indicates > div > div:nth-child(2) {
    display: flex;
}

.calling-container .calling-container__indicates > div {
    padding: 0 9px;
}

.calling-container .calling-container__indicates > div:first-child {
    border-right: 1px solid #fff;
}


.calling-container .calling-container__indicates > div .icon-container {
    width: 24px;
    margin-right: 4px;
}

.calling-container .calling-container__indicates .calling-container__indicates_item span:nth-child(1) {
    font-size: 16px;
}

.calling-container .calling-container__indicates .calling-container__indicates_item span:nth-child(2) {
    flex-direction: column;
    font-size: 7px;
}

.calling-container .calling-container__indicates .calling-container__indicates_item {
    flex-direction: column;
}

.calling-container .calling-container__video-container > div:nth-child(2) {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.calling-container .calling-container__video-container > div:nth-child(2) > div {
    display: flex;
    font-size: 10px;
    color: #707070;
}

.calling-container__video-container.call-ended {
    width: 100%;
    color: #fff !important;
    position: relative;
}

.calling-container__video-container.call-ended .calling-container__ended-call-info {
    padding: 40px 31px 20px 31px;
}

.calling-container__video-container.call-ended .calling-container__ended-call-info > div {
    margin-bottom: 11px;
}

.calling-container__video-container.call-ended > div:nth-child(1) > div {
    color: #fff;
}

.calling-container__video-container.call-ended .calling-container__ended-call-info > div:nth-child(1) {
    font-size: 14px;
    color: #fff;
}

.calling-container__video-container.call-ended .calling-container__ended-call-info > div:nth-child(3) {
    font-size: 10px;
    color: #fff;
}

.calling-container__video-container.call-ended .calling-container__ended-call-info > div:nth-child(4) button {
    font-size: 11px;
}

.calling-container .calling-container__background-placeholder {
    box-sizing: border-box;
    border-radius: 11px;
    font-size: 12px;
    color: #fff;
    padding: 40px 34px;
    margin-bottom: 10px;
    z-index: 0;
    position: relative;
}

.calling-container .calling-container__video-overlay {
    background: #484848;
    opacity: 0.8;
    margin-bottom: 14px;
    height: 100%;
    width: 100%;
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 11px;
}

.calling-container__background-placeholder span {
    margin-bottom: 20px;
    display: block;
}

.calling-container__background-placeholder div .button-container {
    margin-bottom: 14px;
}

.calling-container__passion-detector-text {
    color: #511673;
    position: absolute;
    top: 8px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 13px;
}

.calling-container__video-control-button_container {
    margin-top: 11px;
    display: flex;
    justify-content: space-between;
}

.calling-container__video-control-button_container > div:nth-child(1) {
    font-size: 10px;
    text-align: left;
    color: #707070;
}

.calling-container__video-control-button_container > div:nth-child(2) {
    display: flex;
}

.calling-container__video-element {
    position: relative;
    height: 218px;
    width: 100%;
    background: #000;
    border-radius: 12px;
}


/*ProgressBarr*/

.progress-bar-container {
    width: 100%;
    position: relative;
    box-sizing: border-box;
}

.progress-bar-container__item-line,
.progress-bar-container__item-progress,
.progress-bar-container__progress-indicator {
    position: absolute;
    top: 0;
    left: 0;
}

.progress-bar-container__item-line {
    height: 2px;
    background: #BCBCBC;
    width: 100%;
}

.progress-bar-container__item-progress {
    height: 2px;
    width: 50%;
    background: #FF3266;
}

.progress-bar-container__progress-indicator {
    height: 7px;
    width: 2px;
    transform: translateY(-40%);
    background: #4750AE;
}

