.icon-container {
    /*display: flex;*/
    /*flex-direction: column;*/
    /*justify-content: space-between;*/
    /*align-items: center;*/
    /*margin: 15px 6px;*/
}

.icon-element {
    cursor: pointer;
    display: block;
    /*width: 35px;*/
    /*height: 30px;*/
}

.icon-element-text {
    font-size: 7px;
    color: #4750ae;
}
