.user-page-container {
    padding: 0 20px;
    height: 100vh;
}

.user-page-container .phone-icon-general {
    top: 26%;
    right: 30px;
    height: 60px;
    width: 60px;
}

.user-page-container .phone-icon-menu-container {
    top: 33%;
}

.user-page-container__dropdown-overlay .logo-hint-container {
    position: absolute;
    top: 10px;
    right: 20px;
}

.user-page-container__dropdown-overlay .dropdown-container {
    border-radius: 45px;
    padding-right: 10px;
    padding-left: 10px;
}

.user-name-container {
    font-size: 17px;
    font-weight: bold;
    padding: 20px 35px;
    border-radius: 20px;
    display: flex;
    color: #666363;
    align-items: center;
    -webkit-box-shadow: 10px 10px 3px -6px rgba(190, 209, 191, 1);
    -moz-box-shadow: 10px 10px 3px -6px rgba(190, 209, 191, 1);
    box-shadow: 10px 10px 3px -6px rgba(190, 209, 191, 1);
}

.user-bio-button-back-container {
    padding: 0 35px;
}

.user-bio-button-back-container .button-back,
.user-bio-button-back-container .button-back .common-button-style {
    font-size: 12px;
    color: #4750ae;
}

/*.user-avatar-container,*/
/*.user-bio-button-back-container{*/
/*    height: 50vh;*/
/*}*/

.user-bio-container {
    box-sizing: border-box;
    margin-top: 30px;
}

.user-bio-container__title {
    font-size: 25px;
    font-weight: bold;
    color: #666363;
}

.user-bio-container__description {
    font-size: 12px;
    color: #666363;
    line-height: 20px;
    margin-bottom: 20px;
}

.user-avatar-container {
    position: relative;
}

.user-name-container {
    position: absolute;
    background: #fff;
    bottom: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
}

.user-page-avatar-container img.user-avatar-item {
    width: 100%;
    max-height: 500px;
}

.user-icon-add-to-favourite {
    top: 26%;
    position: absolute;
    height: 60px;
    width: 60px;
    left: 30px;
    z-index: 1;
}

.user-icon-go-call {
    right: 21px;
}

.user-icon-go-call-dropdown {
    display: flex;
    position: absolute;
    bottom: 0;
    /*transform: translateY(50%);*/
    top: inherit;
    width: 100% !important;
}
